@charset "UTF-8";
nav#menu{
    display: block;
}

nav#menu li{
	display:inline-block;
	background:#dddddd;
	padding:10px;
	margin:2px; 
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-ms-transition: background-color 1s;	
	-o-transition: background-color 1s;
	transition:background-color 1s;
}
